{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Timely</title>
  <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
</head>

<body>
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="page-footer">
    <h3 class="right">All Rights Reserved. &copy; 2022 Timely &nbsp;</h3>
  </footer>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="{% static '/main.js' %}" type="text/javascript" charset="utf-8"></script>
</body>

</html>