{% extends 'header.html' %}
{% block content %}
{% load static %}
{% if user.is_authenticated %}
<div class="timezone-wrapper">
    <div class="nav-container">
        <img src="{% static 'img/timelylogo-sideways.svg' %}" alt="Timely logo">
        <div class="slidecontainer">
            <img src="{% static 'img/sun.svg' %}" alt="Timely logo">
            <input type="range" min="0" max={{sunrise_sundown.0}} value={{sunrise_sundown.1}} class="slider"
                id="myRange">
            <img src="{% static 'img/crescent-moon.svg' %}" alt="Crescent Moon">
            <h3>NOW</h3>
        </div>


        <div class="settings">
            <h3>EDIT</h3>
            <hr class="rotated">
            <a href="settings">
                <img src="{% static 'img/cog.svg' %}" alt="Settings Cog">
            </a>
            <hr class="rotated">
            <a href="{% url 'logout' %}">
                <img class="logout" src="{% static 'img/logout.svg' %}" alt="Logout">
            </a>
        </div>
    </div>

    <div class="timezone-tile-container">
        {% for timezone in timezones %}
        {% if forloop.counter == 4 %}
        <div class="tile tile-weather">
            <div class="timezone-content">
                <div id="location">{{ timezone.city }}, {{ timezone.country }}

                </div>
                <div id="user-time">
                    <h1 class="localtime">{{timezone.time}}</h1>
                    <h1>{{timezone.name}}</h1>
                </div>
                <div class="weather-content">


                    <div id="weathercondition">
                        <div id="temperature">{{ timezone.temperature_rounded }}°C</div>
                        <div id="tempFahrenheit"></div>
                        <hr>
                        <div id="temperaturecondition">{{ timezone.description }}</div>
                    </div>
                    <div id="feelslike">{{timezone.feels_like}}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if forloop.counter <= 3 %} <div class="tile tile-weather">
            <div class="timezone-content">
                <div id="location">{{ timezone.city }}, {{ timezone.country }}</div>
                <div id="user-time">
                    <h1 class="localtime">{{timezone.time}}</h1>
                    <h1>{{timezone.name}}</h1>
                </div>
                <div class="weather-content">


                    <div id="weathercondition">
                        <div id="temperature">{{ timezone.temperature_rounded }}°C</div>
                        <div id="tempFahrenheit"></div>
                        <hr>
                        <div id="temperaturecondition">{{ timezone.description }}</div>
                    </div>
                    <div id="feelslike">{{timezone.feels_like}}</div>
                </div>
            </div>
            {% if forloop.last %}
    </div>
    <a href="{% url 'timezones_create' %}">
        <div class="tile tile-add-timezone">
            <div class="timezone-content">
                <div id="empty_timezone">

                    <h3 class="subheading">ADD A PERSON’S <br>TIMEZONE <br>AND
                        AVAILABILITY</h3>

                </div>
            </div>
        </div>
    </a>
    {%endif%}
</div>
{% endif %}
{% empty %}
<a href="{% url 'timezones_create' %}">
    <div class="tile tile-add-timezone">
        <div class="timezone-content">
            <div id="empty_timezone">

                <h3 class="subheading">ADD A PERSON’S <br>TIMEZONE <br>AND
                    AVAILABILITY</h3>

            </div>
        </div>
    </div>
</a>
{% endfor %}
</div>
</div>

{% else %}
<li><a href="{% url 'login' %}">Log In</a></li>
{% endif %}
</div>
</div>
{% endblock %}