{% extends 'header.html' %}
{% block content %}
{% load static %}
{% if user.is_authenticated %}
<div class="timezone-wrapper">
    <div class="nav-container">
        <img src="{% static 'img/timelylogo-sideways.svg' %}" alt="Timely logo">
        <div class="slidecontainer">
            <img src="{% static 'img/sun.svg' %}" alt="Timely logo">
            <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
            <img src="{% static 'img/crescent-moon.svg' %}" alt="Crescent Moon">
            <h3>NOW</h3>
        </div>


        <div class="settings">
            <h3>EDIT</h3>
            <hr class="rotated">
            <a href="settings">
                <img src="{% static 'img/cog.svg' %}" alt="Settings Cog">
            </a>
            <hr class="rotated">
            <a href="{% url 'logout' %}">
                <img class="logout" src="{% static 'img/logout.svg' %}" alt="Logout">
            </a>
        </div>
    </div>

    <div class="timezone-tile-container">
        {% for weather in weather_data %}
        {% if weather.city|length >= 4 %}
        <div class="tile tile-weather">
            <div class="timezone-content">
                <div id="location">{{ weather.city }}, {{ weather.country }}</div>
                <div id="user-time">
                    <h1 class="localtime">{{weather.timezone}}</h1>
                    <h1>Alexander</h1>
                </div>
                <div class="weather-content">
                    <div id="feelslike">Feels colder</div>
                    <!--{{feels_like}}-->
                    <div id="weathercondition">
                        <div id="temperature">{{ weather.temperature_rounded }}°C</div>
                        <div id="tempFahrenheit"></div>
                        <hr>
                        <div id="temperaturecondition">{{ weather.description }}</div>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="tile tile-add-timezone">
            <div class="timezone-content">
                <div id="empty_timezone">

                    <h3 class="subheading">ADD A PERSON’S <br>TIMEZONE <br>AND
                        AVAILABILITY</h3>

                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

{% else %}
<li><a href="{% url 'login' %}">Log In</a></li>
{% endif %}
</div>
</div>
{% endblock %}