{% extends 'header.html' %}
{% block content %}


<div class="card">
    <div class="card-content">
        <span class="card-title">Details for {{ timezone.name }}'s Timezone</span>
        <p>
            <strong>City:</strong> {{ timezone.city }}<br>
            <strong>Timezone:</strong> {{ timezone.timezone }}<br>
            <strong>Hour Toggle:</strong> {{ timezone.hour_toggle }}<br>

            <strong>Start Time:</strong> {{ timezone.availability_start_time }}<br>
            <strong>End Time:</strong> {{ timezone.availability_end_time }}<br>
        </p>

    </div>
</div>

{% endblock %}