{% extends 'header.html' %}
{% block content %}
{% load static %}
<div class="login-wrapper">

    <div class="gradient-container-add fade-in">
        <h1>Add a Timezone</h1>
        <div class="delete-window">
            <div class="signup-form">
                <form action="" method="post">
                    <!-- Django requires the following for security purposes -->
                    {% csrf_token %}
                    <label class="subheading-white">Name</label>
                    <input type="text" name="name" value="Princeton" maxlength="100" required="" id="id_name">
                    <!-- Render the inputs inside of <tr>s & <td>s -->
                    <label class="subheading-white">Country & City</label>
                    <select name="country" id="id_country">
                        {% for country in country_list %}
                        <option value="{{ country.id }}">{{ country.country_name }}</option>
                        {% endfor %}
                    </select>
                    <input type="text" name="city" value="Toronto" maxlength="100" required="" id="id_city">
                    <label class="subheading-white">Timezone</label>
                    <select name="timezone" required="" id="id_timezone">
                        {% for timezone in timezone_list %}
                        <option value="{{ timezone.id }}">{{ timezone.iana_timezone }}</option>
                        {% endfor %}

                    </select>
                    <label class="subheading-white">Availability in Local Time</label>
                    <input type="text" name="availability_start_time" value="00:00" maxlength="100" required=""
                        id="id_availability_start_time">
                    <input type="text" name="availability_end_time" value="23:59" maxlength="100" required=""
                        id="id_availability_end_time">

                    <input type="submit" value="Submit" class="btn">
                </form>
            </div>
        </div>
    </div>
</div>

</main>
<footer class="page-footer">
    <h3 class="right">All Rights Reserved. &copy; 2022 Timely &nbsp;</h3>
</footer>
</body>
{% endblock %}
<script defer>

    async function getToken(url = 'https://www.universal-tutorial.com/api/getaccesstoken') {
        // Default options are marked with *
        const response = await fetch(url, {
            method: 'GET', // *GET, POST, PUT, DELETE, etc.
            headers: {
                "Accept": "application/json",
                "api-token": "QZX-86Feq0Pkxbk0VRntPOaq7uS58qkEq1Iym7aMAAINRrDi1i8k6P6SMDAebSw3cbs",
                "user-email": "hanming497@gmail.com"
                // 'Content-Type': 'application/x-www-form-urlencoded',
            }

        });
        return response.json();
    }

    async function getStates(country) {
        const auth = await getToken();
        url = 'https://www.universal-tutorial.com/api/states/' + country;
        const response = await fetch(url, {
            method: 'GET', // *GET, POST, PUT, DELETE, etc.
            headers: {
                "Authorization": "Bearer " + auth['auth_token'],
                "Accept": "application/json"
            }

        });

        const data = await response.json();


        var test = document.getElementById("states_select")

        //remove options if necessary
        for (var i = test.options.length - 1; i >= 0; i--) { test.remove(i); }
        //add new options
        for (i in data) { test.add(new Option(data[i].state_name, data[i].state_name)); }

    }

    async function getCities(state) {


        stateStripped = encodeURI(state);
        console.log(stateStripped);
        const auth = await getToken();
        url = 'https://www.universal-tutorial.com/api/cities/' + stateStripped;
        const response = await fetch(url, {
            method: 'GET', // *GET, POST, PUT, DELETE, etc.
            headers: {
                "Authorization": "Bearer " + auth['auth_token'],
                "Accept": "application/json"
            }

        });
        console.log(response)
        const data = await response.json();

        console.log(data)
        var test = document.getElementById("id_city")

        //remove options if necessary
        for (var i = test.options.length - 1; i >= 0; i--) { test.remove(i); }
        //add new options
        for (i in data) { test.add(new Option(data[i].city_name, data[i].city_name)); }

    }


</script>

</html>