* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Apercu-Pro;
  font-weight: 300;
  src: url(fonts/ApercuPro-Regular.ttf);
}


@font-face {
  font-family: Apercu-Pro-Light;
  font-weight: 100;
  src: url(fonts/ApercuPro-Light.ttf);
}


@font-face {
  font-family: Apercu-Pro-Bold;
  font-weight: 100;
  src: url(fonts/ApercuPro-Bold.ttf);
}

.fade-up {
  opacity: 1;
  animation-name: fadeUp;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

@keyframes fadeUp {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}


html {
  font-family: Apercu-Pro;
}

footer {
  text-align: center;
}

ul,
li {
  list-style-type: none;

}

h1 {
  font-family: Apercu-Pro-Light, Helevetica, sans-serif;
  font-weight: 100;
}

h3 {
  font-family: Apercu-Pro-Bold, Helevetica, sans-serif;
  font-weight: 700;
}

h4 {
  font-family: Apercu-Pro-Light, Helevetica, sans-serif;
  font-weight: 300;
}

h3,
h4 {
  font-size: 14px;
  color: #798691;
  letter-spacing: 0;
  line-height: 17px;
}

a {
  font-family: Apercu-Pro;
  color: black;
  text-decoration: none;
  /* no underline */
}

.subheading,
.subheading-white,
.btn,
#location {
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 4px;
  text-align: center;
  line-height: 34.31px;
}



#location {
  color: #050505;
}


input[type="submit"] {
  border: inherit;
  cursor: pointer;
}

.btn {
  background: #58C4F0;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.10), 0 0 5px 0 rgba(0, 0, 0, 0.20), inset 0 0 2px 0 #FFFFFF;
}

.subheading-white {
  color: white;
}

.login-wrapper {
  display: flex;
  min-height: 100vh;
  background-color: #CBE3EA;
  align-items: center;
  justify-content: center;
}

.timezone-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.btn {
  font-family: Apercu-Pro;
  width: 205px;
  height: 44px;
  border-radius: 7px;
  -webkit-appearance: none;
  background: #58C4F0;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

.login-container {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 968px;
  height: 635px;
  border-radius: 7px;
}

.hero-text-wrapper {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.hero-text-container {
  width: 50%;
  margin: 0 auto;
}

.timezone-tile-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.hero-text-container h1 {
  padding-bottom: 42px;
  letter-spacing: 0;
  line-height: 35px;
}

.gradient-container {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  height: 635px;
  opacity: 0.9;
  background-image: linear-gradient(-20deg, #FD8A44 0%, #D64741 55%, #7E2B59 100%);
  border-radius: 0px 7px 7px 0px;
}

.gradient-container h1 {
  margin-top: 40px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;
  width: 1197px;
  height: 100px;
  background: #FFFFFF;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.10), 0 0 5px 0 rgba(0, 0, 0, 0.20), inset 0 0 2px 0 #FFFFFF;
}

.btn {
  font-family: Apercu-Pro-Bold;
  cursor: pointer;
  outline: inherit;
  color: white;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.10), 0 0 5px 0 rgba(0, 0, 0, 0.20), inset 0 0 2px 0 #FFFFFF;

}

textarea,
input {
  outline: none;
  text-transform: none;
}

#email,
#current-location {
  font-family: Apercu-Pro;
  display: block;
  font-size: 18px;
  -webkit-appearance: none;
  width: 250px;
  height: 45px;
  text-align: center;
  background: #FFFFFF;
  border: white 2px solid;
  color: #292A2C;
  outline: 0;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.10), 0 0 5px 0 rgba(0, 0, 0, 0.20), inset 0 0 2px 0 #FFFFFF;
  padding: 7px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
}

#email:focus,
#current-location:focus {
  border: #7E2B59 2px solid;
  transition-delay: 0s;
  transition-duration: 0.15s;
  transition-property: border-color;
  transition-timing-function: ease-in-out;
}

.slider {
  -webkit-appearance: none;
  width: 200px;
  height: 2px;
  background: #2C3E50;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: #2C3E50 3px solid;
  background: white;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}

.signup-form input {
  margin: 2.5%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

main {
  flex: 1 0 auto;
  color: #292A2C;
}

.container {
  order: 1;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #CBE3EA;
}

footer.page-footer {
  padding-bottom: 2%;
  text-align: center;
  background-color: #CBE3EA;
}

#tempFahrenheit {
  display: none;
}

#temperature,
#tempFahrenheit {
  font-size: 3em;
  font-weight: 400;
}

#temperature .snow,
#tempFahrenheit .snow {
  color: black ! important;
}

#weathercondition,
#temperaturecondition,
#feelslike,
.temp-f,
.temp-c,
.currenttimezone {
  font-size: .5em;
  font-weight: 200;
}


.tile-weather {
  align-self: flex-start;
  background-image: -moz-linear-gradient(115deg, rgb(243, 156, 18) 0%, rgb(250, 205, 133) 100%);
  background-image: -webkit-linear-gradient(115deg, rgb(243, 156, 18) 0%, rgb(250, 205, 133) 100%);
  background-image: -ms-linear-gradient(115deg, rgb(243, 156, 18) 0%, rgb(250, 205, 133) 100%);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.tile {
  width: 290px;
  height: 285.5px;
  margin: 9 10 10 10px;
}

.tile .content-wrapper .tile-content {
  padding: 10px;
  height: 290px;
}

.tile-weather {
  order: 2;
  width: 280px;
  height: 590px;
  color: white;
  order: 2;
  font-size: 30px;

}

.clock {
  height: 200px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  position: relative;
}

.clock__second,
.clock__minute,
.clock__hour,
.clock__indicator {
  position: absolute;
  left: calc(50% - 1px);
  width: 2px;
  background: #f4eed7;
  transform-origin: bottom center;
  z-index: 2;
  border-radius: 1px;
}

.clock__second {
  height: 90px;
  margin-top: 10px;
  background: #4b9aaa;
  -webkit-animation: time 60s infinite steps(60);
  animation: time 60s infinite steps(60);
  z-index: 3;
}

.clock__minute {
  height: 80px;
  margin-top: 20px;
  opacity: 0.75;
  -webkit-animation: time 3600s linear infinite;
  animation: time 3600s linear infinite;
}

.clock__hour {
  height: 60px;
  margin-top: 40px;
  -webkit-animation: time 43200s linear infinite;
  animation: time 43200s linear infinite;
}

.clock__indicator {
  height: 98px;
  border-top: 2px solid #4b9aaa;
  background: none;
}

.clock__indicator:nth-of-type(5n) {
  opacity: 1;
  height: 93px;
  border-top: 7px solid #f4eed7;
}

.clock__axis {
  background: #4b9aaa;
  width: 5px;
  height: 5px;
  border-radius: 3px;
  position: absolute;
  z-index: 4;
  top: 97px;
}

section:nth-of-type(1) {
  transform: rotateZ(calc(6deg * 1));
}

section:nth-of-type(2) {
  transform: rotateZ(calc(6deg * 2));
}

section:nth-of-type(3) {
  transform: rotateZ(calc(6deg * 3));
}

section:nth-of-type(4) {
  transform: rotateZ(calc(6deg * 4));
}

section:nth-of-type(5) {
  transform: rotateZ(calc(6deg * 5));
}

section:nth-of-type(6) {
  transform: rotateZ(calc(6deg * 6));
}

section:nth-of-type(7) {
  transform: rotateZ(calc(6deg * 7));
}

section:nth-of-type(8) {
  transform: rotateZ(calc(6deg * 8));
}

section:nth-of-type(9) {
  transform: rotateZ(calc(6deg * 9));
}

section:nth-of-type(10) {
  transform: rotateZ(calc(6deg * 10));
}

section:nth-of-type(11) {
  transform: rotateZ(calc(6deg * 11));
}

section:nth-of-type(12) {
  transform: rotateZ(calc(6deg * 12));
}

section:nth-of-type(13) {
  transform: rotateZ(calc(6deg * 13));
}

section:nth-of-type(14) {
  transform: rotateZ(calc(6deg * 14));
}

section:nth-of-type(15) {
  transform: rotateZ(calc(6deg * 15));
}

section:nth-of-type(16) {
  transform: rotateZ(calc(6deg * 16));
}

section:nth-of-type(17) {
  transform: rotateZ(calc(6deg * 17));
}

section:nth-of-type(18) {
  transform: rotateZ(calc(6deg * 18));
}

section:nth-of-type(19) {
  transform: rotateZ(calc(6deg * 19));
}

section:nth-of-type(20) {
  transform: rotateZ(calc(6deg * 20));
}

section:nth-of-type(21) {
  transform: rotateZ(calc(6deg * 21));
}

section:nth-of-type(22) {
  transform: rotateZ(calc(6deg * 22));
}

section:nth-of-type(23) {
  transform: rotateZ(calc(6deg * 23));
}

section:nth-of-type(24) {
  transform: rotateZ(calc(6deg * 24));
}

section:nth-of-type(25) {
  transform: rotateZ(calc(6deg * 25));
}

section:nth-of-type(26) {
  transform: rotateZ(calc(6deg * 26));
}

section:nth-of-type(27) {
  transform: rotateZ(calc(6deg * 27));
}

section:nth-of-type(28) {
  transform: rotateZ(calc(6deg * 28));
}

section:nth-of-type(29) {
  transform: rotateZ(calc(6deg * 29));
}

section:nth-of-type(30) {
  transform: rotateZ(calc(6deg * 30));
}

section:nth-of-type(31) {
  transform: rotateZ(calc(6deg * 31));
}

section:nth-of-type(32) {
  transform: rotateZ(calc(6deg * 32));
}

section:nth-of-type(33) {
  transform: rotateZ(calc(6deg * 33));
}

section:nth-of-type(34) {
  transform: rotateZ(calc(6deg * 34));
}

section:nth-of-type(35) {
  transform: rotateZ(calc(6deg * 35));
}

section:nth-of-type(36) {
  transform: rotateZ(calc(6deg * 36));
}

section:nth-of-type(37) {
  transform: rotateZ(calc(6deg * 37));
}

section:nth-of-type(38) {
  transform: rotateZ(calc(6deg * 38));
}

section:nth-of-type(39) {
  transform: rotateZ(calc(6deg * 39));
}

section:nth-of-type(40) {
  transform: rotateZ(calc(6deg * 40));
}

section:nth-of-type(41) {
  transform: rotateZ(calc(6deg * 41));
}

section:nth-of-type(42) {
  transform: rotateZ(calc(6deg * 42));
}

section:nth-of-type(43) {
  transform: rotateZ(calc(6deg * 43));
}

section:nth-of-type(44) {
  transform: rotateZ(calc(6deg * 44));
}

section:nth-of-type(45) {
  transform: rotateZ(calc(6deg * 45));
}

section:nth-of-type(46) {
  transform: rotateZ(calc(6deg * 46));
}

section:nth-of-type(47) {
  transform: rotateZ(calc(6deg * 47));
}

section:nth-of-type(48) {
  transform: rotateZ(calc(6deg * 48));
}

section:nth-of-type(49) {
  transform: rotateZ(calc(6deg * 49));
}

section:nth-of-type(50) {
  transform: rotateZ(calc(6deg * 50));
}

section:nth-of-type(51) {
  transform: rotateZ(calc(6deg * 51));
}

section:nth-of-type(52) {
  transform: rotateZ(calc(6deg * 52));
}

section:nth-of-type(53) {
  transform: rotateZ(calc(6deg * 53));
}

section:nth-of-type(54) {
  transform: rotateZ(calc(6deg * 54));
}

section:nth-of-type(55) {
  transform: rotateZ(calc(6deg * 55));
}

section:nth-of-type(56) {
  transform: rotateZ(calc(6deg * 56));
}

section:nth-of-type(57) {
  transform: rotateZ(calc(6deg * 57));
}

section:nth-of-type(58) {
  transform: rotateZ(calc(6deg * 58));
}

section:nth-of-type(59) {
  transform: rotateZ(calc(6deg * 59));
}

section:nth-of-type(60) {
  transform: rotateZ(calc(6deg * 60));
}

@-webkit-keyframes time {
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes time {
  to {
    transform: rotateZ(360deg);
  }
}