{% extends 'header.html' %}
{% block content %}
{% load static %}
<div class="login-wrapper">
    <div class="login-container">
        <div class="hero-text-wrapper">
            <img src="{% static 'img/timelylogo.svg' %}" alt="Timely logo">
            <div class="hero-text-container ">
                <h1>We meet again, welcome back.</h1>
                <h4>See weather and localised availablity
                    for collegues, business partners and <br>
                    loved ones. All at a glance. </h4>
            </div>
            <div class="existing-user">
                <li class="subheading"><a href="{% url 'signup' %}"></a></li>
            </div>
        </div>
        <div class="gradient-container-login fade-in">
            <h1>Log In</h1>
            <div class="signup-form">
                {% if error_message %}<p class="red-text">{{ error_message }}</p>{% endif %}
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <h3 class="subheading-white">Your Email</h3>
                    <input name="username" type="username" required id="username">
                    <h3 class="subheading-white">Password</h3>
                    <input name="password" type="password" required id="password">
            </div>
            <input type="submit" class="btn" value="login">
            <input type="hidden" name="next" value="{{ next }}">
            </form>
            <div class="existing-user">
                <a href="{% url 'signup' %}">
                    <li class="subheading-white">Need to Sign Up?</li>
                </a>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}