{% extends 'header.html' %}
{% block content %}
{% load static %}
<div class="login-wrapper">
  <div class="login-container fade-up">
    <div class="hero-text-wrapper">
      <img src="{% static 'img/timelylogo.svg' %}" alt="Timely logo">
      <div class="hero-text-container ">
        <h1>For everything beyond local. </h1>
        <h4>See weather and localised availablity
          for collegues, business partners and <br>
          loved ones. All at a glance. </h4>
      </div>
      <div class="existing-user">
        <li class="subheading"><a href="{% url 'login' %}">Existing User?</a></li>
      </div>
    </div>
    <div class="gradient-container">
      <div class="gradient-container-error-header">
        <h1>Let’s begin</h1>
        {% if error_message %}<p class="red-text">{{ error_message }}</p>{% endif %}
      </div>
      <div class="signup-form">


        <!-- Add the login form -->
        <form method="post" action="{% url 'signup' %}">
          {% csrf_token %}

          {{ form.non_field_errors }}
          <div class="fieldWrapper">
            {{ form.username.errors }}
            <label class="subheading-white" for="{{ form.username.id_for_label }}">Username</label>
            {{ form.username }}
          </div>
          <div class="fieldWrapper">
            {{ form.password1.errors }}
            <label class="subheading-white" for="{{ form.password1.id_for_label }}">Password</label>
            {{ form.password1 }}
          </div>
          <div class="fieldWrapper">
            {{ form.password2.errors }}
            <label class="subheading-white" for="{{ form.password2.id_for_label }}">Retype Password</label>
            {{ form.password2 }}
          </div>

      </div>
      <input type="submit" class="btn" value="Let's Go">
      <input type="hidden" name="next" value="{{ next }}">
      </form>


    </div>
  </div>
</div>
{% endblock %}