{% extends 'base.html' %}
{% block content %}
<!---
<div class="login-container">
  <div class="hero-text">
    <h1>For everything
      beyond local. </h1>
    <h3>See weather and localised availablity
      for collegues, business partners and
      loved ones. All at a glance. </h3>
    <li><a href="{% url 'login' %}">EXISTING USER?</a></li>
  </div>
  <h1>Let's Begin</h1>


  {% if error_message %}<p class="red-text">{{ error_message }}</p>{% endif %}

Add the login form
  <form method="post" action="{% url 'signup' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn" value="Sign Up">
  </form>
</div>
{% endblock %}
--->

<div class="login-container">
  <div class="hero-text">
    <h1>For everything
      beyond local. </h1>
    <h3>See weather and localised availablity
      for collegues, business partners and
      loved ones. All at a glance. </h3>
    <li><a href="{% url 'login' %}">EXISTING USER?</a></li>
  </div>
  <div class="gradient-container">
    <div class="signup-form">
      <h1>Let's begin</h1>

      {% if error_message %}<p class="red-text">{{ error_message }}</p>{% endif %}

      <!-- Add the login form -->
      <form method="post" action="{% url 'signup' %}">
        <input type="submit" class="btn" value="Sign Up">
      </form>
    </div>
  </div>
</div>